params {
  outdir = "results"
   fasta = "fastas"
}

trace {
    enabled = true
    file    = "${params.outdir}/trace.txt"
    overwrite = true
    fields = 'task_id,process,%cpu,peak_rss,realtime'
}

profiles {
    docker {
    docker.enabled = true
    docker.runOptions = '-u $(id -u):$(id -g)'
            }
  
slurm {
    singularity.enabled = true
    process {
    executor = 'slurm'

    errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 3
    maxErrors     = '-1'
    
    withName : AMR {
    memory = { 6.GB * task.attempt }
    time   = { 4.h  * task.attempt }
    }
    withName : VFDB {
    memory = { 1.GB * task.attempt }
    time   = { 1.h  * task.attempt }
            }
        } 
    }
}
